.overlay {
  z-index: 10;
}

.pin {
  display: inline-flex;
  height: 10vh;
  width: 100%;
  background-color: grey;
  opacity: 0.9;
  align-items: center;
  justify-content: left;
  padding-left: 1vh;
  border-radius: 15px;
}